<template name="DateInput">
    <div class="DateInput" id="{{ id }}">

        <div class="d-flex align-items-center">
            <div class="input-svg-at-end">
                <input type="text" class="form-control {{ dClass }} js-date" id="{{ idInput }}" minlength="10" maxlength="10" value="" placeholder="{{ dPlaceholder }}" />
                <span class="fa-regular fa-sm fa-calendar-days group-end js-dp"></span>
            </div>
            {{#if hasHelp }}
                <p class="help"></p>
            {{/if}}
        </div>

    </div>
</template>
